/.idea
logs
/*.iml
target
/universum-api-gateway/*.iml
/universum-i18-service/universum-i18-service.iml
/universum-discovery-service/universum-discovery-service.iml
/universum-config-service/universum-config-service.iml
/universum-config-service/target/
/common-swagger/*.factorypath
/common-swagger/*.project
/common-swagger/*.classpath
/universum-common/*.factorypath
/universum-common/*.project
/universum-common/*.classpath
/universum-auth-service/*.factorypath
/universum-auth-service/*.project
/universum-auth-service/*.iml
/universum-auth-service/*.classpath
/.settings
/common-swagger/.settings
/.project
/universum-zuul-api-gateway/.factorypath
/universum-zuul-api-gateway/.project
/universum-zuul-api-gateway/.dbeaver
/universum-zuul-api-gateway/.settings
/universum-zuul-api-gateway/target
/universum-zuul-api-gateway/.classpath
/.docker/
